@model List<UploadFile>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title">Upload de Arquivo</h5>
                    <form asp-action="UploadList" method="post" enctype="multipart/form-data">
                        <div class="form-group py-4">
                            <label for="files">Select files to upload:</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="files" name="files" accept=".pdf,.doc,.docx">
                                <label class="custom-file-label" for="files">Choose files...</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 